@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotomono/v13/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vq_ROW4.woff2)
    format("woff2");
}
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 300;
  src: local("Apercu"),
    url("https://fonts.cdnfonts.com/s/22258/Apercu Light.woff") format("woff");
}
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 400;
  src: local("Apercu"),
    url("https://fonts.cdnfonts.com/s/22258/Apercu_Regular.woff") format("woff");
}
@font-face {
  font-family: "Apercu";
  font-style: normal;
  font-weight: 500;
  src: local("Apercu"),
    url("https://fonts.cdnfonts.com/s/22258/Apercu Medium.woff") format("woff");
}
@font-face {
  font-family: "Monaco";
  font-style: normal;
  font-weight: 400;
  src: local("Monaco"),
    url("https://fonts.cdnfonts.com/s/14106/Monaco.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff0e5;
  color: #10162f;
}
header {
  position: sticky;
  top: 0;
  transition: background-color 150ms ease-in-out 0s,
    border-bottom-color 150ms ease-in-out 0s;
  z-index: 10;
}
.container {
  padding: 0.5rem 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.scrolled {
  background: white;
  border-bottom: 1px solid #10162f;
}
a {
  text-decoration: none;
  color: #10162f;
  cursor: pointer;
}
.side-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  max-height: 45px;
}
.menu {
  margin-left: 1.5rem;
}
/* .menu span {
  justify-content: flex-end;
} */
.login {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0 0.5rem;
  color: #3a10e5;
}
.hero-div,
.join,
.sign-up,
.input-field,
.catalog,
.catalog-boxes,
.catalog-box,
.stories,
.cards,
.card,
.guide-div,
.how,
.steps,
footer {
  display: flex;
  flex-direction: column;
}
.container,
.hero-div,
.stories,
footer {
  max-width: 1440px;
  margin: 0 auto;
}
.quiz-div,
.guide-div,
.get-start {
  max-width: 100%;
}
.hero-div {
  padding: 1rem 2rem 0;
}
.join,
.catalog {
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
.hero {
  padding-bottom: 2rem;
}
.sign-up {
  max-width: 70%;
  line-height: 1.5;
}
.sign-up h1 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.sign-up h2 {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
label {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1;
}
.info-icon {
  float: right;
}
.input-field {
  padding-bottom: 1.5rem;
}
input {
  padding: 0.75rem;
  border: 1px solid black;
  border-radius: 4px;
}
input:hover {
  border: 1px solid #3A10E5;
}
input:focus {

  outline-color: #3A10E5;
}
.btn {
  height: 40px;
  width: fit-content;
  padding: 0.25rem 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: background-color 150ms ease-in;
}
.btn1 {
  color: #fff0e5;
  background-color: #3a10e5;
}
.btn1:hover {
  background-color: #5533ff;
}
small {
  font-weight: 300;
  padding-bottom: 1rem;
}
small a {
  text-decoration: underline;
  color: #3a10e5;
}
small a:hover {
  text-decoration: none;
}
.sign-up-methods {
  display: flex;
}
.sign-up-methods a {
  width: 69px;
  height: 57px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #10162f;
  margin-right: 10px;
  transition: background-color 0.5s ease;
}
.sign-up-methods a:hover {
  background-color: #f3f3f5;
}
.sign-up-methods a img {
  width: 18px;
  height: 18px;
}
.catalog .catalog-boxes {
  width: 100%;
}
.catalog h2 {
  font-family: "Roboto mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.375rem;
  margin-bottom: 0.5rem;
}
.catalog-box {
  width: 100%;
  height: 11.25rem;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  box-shadow: 0px 0px 1px #10162f;
  transition: box-shadow 200ms ease-in-out, transform 200ms ease;
}
.catalog-box:hover {
  box-shadow: -8px 8px 1px;
  transform: translate(8px, -8px);
}
.box1 {
  background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/language/javascript.svg);
  background-position: left;
}
.box2 {
  background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/language/python.svg);
  background-position: left;
}
.box3 {
  background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/subject/web-development.svg);
  background-position: right;
}
.box4 {
  background-image: url(https://static-assets.codecademy.com/assets/components/cards/explore-category-card/subject/data-science.svg);
  background-position: right;
}
.box-info {
  width: 60%;
  padding: 27px;
  background-color: white;
  line-height: 1.5;
}
.explore {
  font-weight: 300;
  font-size: 1rem;
}
.topic {
  font-size: 1.375rem;
  font-weight: 500;
}
.get-to {
  margin-top: 0.5rem;
  padding: 0.75rem;
  align-self: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #3a10e5;
  width: fit-content;
}
.get-to:hover {
  color: #3a10e5;
  background-color: #f3f3f5;
  cursor: pointer;
}
/* Div 2 */

.quiz-div {
  display: flex;
  justify-content: center;
  background-color: #ffd300;
  padding: 2rem 1rem;
  align-items: center;
}
.guide {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  justify-content: center;
}
.line1 {
  font-family: "Monaco", monospace;
  font-size: 0.7rem;
  line-height: 1.5;
}
.line2 {
  font-size: 2.75rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.guide .btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
}
.quiz-div img {
  max-width: 13.75rem;
  margin-left: 12%;
}

/* Div 3 */

.get-inspired {
  padding: 4rem 2rem 0 2rem;
  margin-bottom: 2rem;
}
.get-inspired h2 {
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  display: block;
  width: 100%;
}
.get-inspired p {
  font-size: 1.125rem;
  line-height: 1.5;
  max-width: 211px;
}
.cards {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}
.dots {
  position: absolute;
  height: 5rem;
  width: 100vw;
  top: -1rem;
  z-index: -1;
}
.svg-box {
  width: 100%;
  height: 100%;
}
.card {
  width: 100%;
  margin-bottom: 2rem;
}
.card:hover {
  color: #3A10E5;
}
.card p {
  max-width: 300px;
}
.story-title {
  line-height: 1.1;
  font-size: 1.375rem;
  font-weight: 500;
  padding: 0.5rem 0 0.25rem 0;
}
.learner {
  line-height: 1.5;
  font-size: 0.875;
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card .get-to {
  margin-bottom: 2rem;
}

/* Div 4 */

.guide-div {
  padding: 3rem 4rem;
  background-color: #10162f;
  color: #fff0e5;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.how {
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 365px;
  margin-bottom: 1.5rem;
}
.text1 {
  margin-bottom: 0.5rem;
}
.text2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.steps {
  max-width: 424px;
}
.step h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.1;
}
.step p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
}
.svg-box-narrow {
  width: 100%;
  height: 6px;
  margin: 2rem 0 1rem;
}

.get-start {
  display: flex;
  justify-content: center;
  background-color: #3a10e5;
  padding: 2rem 1rem;
  align-items: center;
  color: white;
}
.get-start img {
  margin-right: 12%;
  max-width: 13.75rem;
}
.btn2 {
  color: #10162f;
  background-color: #ffd300;
  font-weight: 500;
}
.btn2:hover {
  background-color: #cca900;
}

/* Footer */

footer {
  padding: 1.5rem 2rem;
}
/* First half */
.half1 {
  display: flex;
  flex-wrap: wrap;
}
.links {
  width: 50%;
}

.links h2,
.mobile h2,
.half2 h2 {
  line-height: 1.5;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 400;
}
.links ul {
  list-style: none;
}
.links ul li {
  font-size: 0.875rem;
  margin: 0.5rem 0;
}
.links ul li a:hover {
  color: #3a5be5;
}
.social {
  display: flex;
}
.social li a {
  margin-right: 0.5rem;
}
.mobile {
  width: 100%;
}
.mobile ul {
  list-style: none;
  display: flex;
  width: 100%;
}
.mobile ul li {
  width: 50%;
}
.mobile img {
  height: 40px;
}

/* Second half */
.half2 {
  margin-top: 1.5rem;
  border-top: 1px solid #10162f;
  border-bottom: 1px solid #10162f;
}
.half2 h2 {
  padding-top: 2rem;
}
.courses {
  width: 100%;
}
.courses h3 {
  font-size: 0.875rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.courses ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  height: 12rem;
}
.courses ul li {
  width: 50%;
  font-size: 0.875rem;
  margin: 0.25rem 0;
}
.courses ul li a:hover {
  color: #3a5be5;
}
/* Bottom */

.bottom {
  width: 100%;
  text-align: center;
}
.terms {
  margin-top: 1rem;
}
.terms ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
.terms ul li,
.bottom p {
  font-size: 0.875rem;
  margin: 0.25rem 0;
}
.terms ul li:nth-child(-n+3)::after {
  content: "|";
  margin: 0 0.375rem;
}
.terms ul li a:hover {
  color: #3a5be5;
}
/* Responsive */
@media screen and (min-width: 768px) {
  .join {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero {
    padding-top: 3rem;
  }
  .hero img {
    max-width: 18rem;
  }
  .sign-up {
    max-width: 40%;
  }
  .catalog {
    justify-content: space-between;
    padding-bottom: 4rem;
  }
  .catalog,
  .catalog-boxes {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .catalog h2 {
    order: 1;
    margin-bottom: 1.5rem;
  }
  .get-to {
    order: 1;
  }
  .catalog-boxes {
    order: 2;
    gap: 2rem;
  }
  .catalog-box {
    width: calc(50% - 1rem);
    order: 2;
    margin: 0;
  }
  .get-to {
    margin: 0;
    padding-top: 0;
  }
  .stories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .stories h2 {
    width: 100%;
  }
  .get-inspired p, .get-to {
    order: 1;
    max-width: 50%;
  }
  .get-inspired {
    padding: 4rem 0 0 5rem;
  }
  .get-to {
    padding-right: 5rem;
    padding-top: 8rem;
  }
  .stories .get-to {
    order: 1;

  }
  .cards {
    order: 2;
    padding: 0 4rem 4rem;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
  }
  .card {
    width: calc(50% - 1rem);
  }
  footer {
    padding: 1.5rem 4rem;
  }
  .links {
    width: 33.33%;
  }
  .languages {
    width: 50%;
    display: inline-block;
  }
  .languages ul li {
    margin-right: 1rem;
  }
  .subjects {
    width: 50%;
    float: right;
  }
  .p1 {
    order: 1;
  }
  .p2 {
    order: 2;
  }
  .p3 {
    order: 3;
  }
  .p4 {
    order: 4;
    width: 33.33%;
  }
  .p5 {
    order: 5;
  }
  .p6 {
    order: 6;
  }
  .p7 {
    order: 7;
    margin-left: 33.33%;
    margin-top: -4rem;
  }
  .p4 h2 {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 2rem;
  }
  .p4 ul {
    flex-direction: column;
    flex-wrap: wrap;
    width: 33.33%;
  }
  .p4 ul li {
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero-div {
    padding: 1rem 4rem 0;
  }
  .join {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero {
    padding-top: 3rem;
  }
  .hero img {
    max-width: 26rem;
  }
  .sign-up {
    max-width: 50%;
    padding: 2rem;
  }
  .input-field {
    max-width: 90%;
  }
  .quiz-div, .get-start {
    padding: 6rem 0;
  }
  .guide {
    max-width: 282px;
  }
  .quiz-div img, .get-start img {
    max-width: 22.25rem;
  }
  .line3 {
    line-height: 1.5;
    max-width: 80%;
  }
  .guide-div {
    padding: 6rem 4rem;
    flex-direction: row;
    text-align: left;
    justify-content: center;
    align-items: center;
  }
  .text2 {
    font-size: 1.625rem;
  }
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .half1, .half2 {
    width: 50%;
  }
  .half2 {
    border: none;
    margin-top: 0;
    padding-left: 2rem;
    border-left: 1px solid #10162f;
  }
  .half2 h2 {
    padding-top: 0;
  }
  .languages {
    float: right;
  }
  .subjects ul, .subjects ul li {
    width: 100%;
  }
  .links h2, 
  .links ul li,
  .half2 h2,
  .courses ul li {
    font-size: 1rem;
    font-weight: 400;
  }
  .subjects ul {
    height: 100%;
  }
  .bottom {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #10162f;
  }
  .bottom p {
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .catalog-box {
    width: calc(24% - 1rem);
  }
  .box-info {
    width: 80%;
  }
  .card {
    width: calc(24% - 1rem);
  }
}

